nav{
    background-color: black;
    
    padding: 10px;
}
h1{
    display: inline;
    color: white;
}
ul{
    display: inline;
    margin-left: 50%;
}
li{
    display: inline;
    padding: 10px;
    font-size: 20px;
    color: rgb(102, 96, 96);
}
li:hover{
    cursor: pointer;
     font-size: 25px;
     color: azure;
     transition: 2s;

}

/* search bar */
#search_field{
    margin-top: 45px;
    text-align: center;
}
input{
    height: 25px;
    width: 50%;
}

img{
    height: auto;
    width: 100px;
}
img:hover{
    transition: 1s;
    height: auto;
    width: 130px;
    
}
.image{
    text-align: center;
    border: 2px solid rgb(27, 8, 8);
    display: inline-block;
    height: auto;
    width: auto;
}

#products{
    margin-top: 50px ;
    text-align: center;
}
p:hover{
    transition: 1s;
    font-size: 25px;
    background-color: black;
    color: white;
}